{% extends "layout.html" %}

{% block content %}

<div class="container">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Country Name</th>
            <th scope="col">Capital</th>
            <th scope="col">Currency</th>
            <th scope="col">Continent</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>India</td>
            <td>New Delhi</td>
            <td>Rupee</td>
            <td>Asia</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>USA</td>
            <td>Washington DC</td>
            <td>Dollar</td>
            <td>North America</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Russia</td>
            <td>Moscow</td>
            <td>Russian Ruble</td>
            <td>Europe</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Canada</td>
            <td>Ottawa</td>
            <td>Canadian Dollar</td>
            <td>North America</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Australia</td>
            <td>Canberra</td>
            <td>Australian Dollar</td>
            <td>Australia</td>
        </tr>
        </tbody>
    </table>


</div>


{% endblock %}
